.movieItem {
  min-height: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;

  transition: all 0.2s;
}

.movieItem:hover {
  cursor: pointer;
  transform: scale(0.95);
}

.ratingContainer {
  display: flex;
  justify-content: space-between;
}
